.headerContainer {
  background-color: rgb(21, 21, 233);
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

  height: 6vh;
  font-weight: bolder;
}

.rightButtons {
  display: flex;
  flex-direction: row;
}

.rightButtons span {
  display: flex;

  margin-inline-start: 1rem;
  text-align: center;
  vertical-align: middle;
}
.rightButtons span p {
  display: flex;
  align-items: center;
}

.rightButtons span:nth-child(2) p {
  background-color: rgb(22, 21, 21);
  color: white;
  height: 32px;
  padding-left: 7px;
  padding-right: 7px;
  vertical-align: middle;
}
.rightButtons span:nth-child(1) p {
  color: white;
  height: 32px;
  padding-left: 7px;
  padding-right: 7px;
  vertical-align: middle;
}

.headerContainer h3 {
  color: white;
  text-decoration: solid;
}

.subHeader {
  display: flex;
  background-color: rgb(58, 56, 56);
  width: 100%;
  height: 6vh;
}
